<div class="container">
  <app-friend-search></app-friend-search>
  <div class="well well-sm">
    <strong>Friends  List</strong>
  </div>
  <div id="products" class="card-deck row grid-group">


    <div class="item  col-sm-4  grid-group-item" >
      <div class="thumbnail">
        <img class="group card-img-top list-group-image" width="200" height="200" src="http://placehold.it/400x250/000/fff" alt="" />
        <div class="card-block">
          <div class="col-md-12 text-center">
            <h6 class="group card-title">name</h6>
          </div>
          <div class="row">
            <div class="col-md-12 text-center">
              <a class="btn btn-sm btn-danger" href="#">Un Follow</a>
            </div>
          </div>
        </div>
      </div>
    </div>


  </div>
</div>
