<div class="container">
  <div class="row">
    <div class="col-9">
      <ngb-tabset>
        <ngb-tab>
          <template ngbTabTitle>Followings</template>
          <template ngbTabContent>
            <div class="card-group">
              <user-card *ngFor="let friend of friends" [user]="friend" [cssClass]="'card-friend-comp'" [button]="{text:'Un Follow',class:'btn-danger'}" (buttonClicked)="deleteFollower(friend)"></user-card>
            </div>

          </template>
        </ngb-tab>
        <ngb-tab>
          <template ngbTabTitle>Followers</template>
          <template ngbTabContent>


          </template>
        </ngb-tab>
      </ngb-tabset>
    </div>
    <div class="col-3">
      <app-friend-search [friends]="friends" (notifyDelete)="onDeleteNotify($event)" (notifyAdd)='onAddNotify($event)'></app-friend-search>
    </div>
  </div>
</div>
