<h1 class="display-4 text-center"><i class="fa fa-plus"></i> Add Order</h1>

<div class="jumbotron">

  <div class="row">

    <div class="col-md-6">
      <h2>Order Details</h2>
      <form name="form" (ngSubmit)="f.form.valid && addOrder()" #f="ngForm" novalidate>
        <div class="form-group" [ngClass]="{ 'has-danger': f.submitted && !order_for.valid }">
          <label>Order For</label>
          <select class="form-control" name="order_for" [(ngModel)]="model.order_for" #order_for="ngModel" required>
            <option *ngFor="let value of order_for_values" [ngValue]="value">{{value}}</option>
          </select>
          <div *ngIf="f.submitted && !order_for.valid" class="form-control-feedback">Order For is required</div>
        </div>

        <div class="form-group" [ngClass]="{ 'has-danger': f.submitted && !restaurant_name.valid }">
          <label>Restaurant Name</label>
          <input type="text" class="form-control" name="restaurant_name" [(ngModel)]="model.restaurant_name"
                 #restaurant_name="ngModel" required/>
          <div *ngIf="f.submitted && !restaurant_name.valid" class="form-control-feedback">Restaurant Name is required
          </div>
        </div>

        <div class="form-group" [ngClass]="{ 'has-danger': !tmp.invite_valid }">
          <label>Participants</label>

          <div class="input-group">
            <div class="input-group-btn" ngbDropdown>
              <button type="button" class="btn btn-secondary dropdown-toggle" ngbDropdownToggle>
                Friends
              </button>
              <div class="dropdown-menu">
                <a class="dropdown-item">Friends</a>
                <a class="dropdown-item">Groups</a>
              </div>
            </div>

            <template #inviteTemplate let-r="result" let-t="term">
              <img [src]="r.avatar ? 'http://localhost:8090/uploads/' + r.avatar : '/src/assets/images/default-avatar.jpg'" width="16">
              {{ r.name }}
            </template>

            <input type="text" class="form-control" name="invite" [ngbTypeahead]="search"
                   [resultTemplate]="inviteTemplate"
                   [inputFormatter]="formatter" (selectItem)="inviteItemTmp($event)"/>
            <span class="input-group-btn">
              <button class="btn btn-secondary" type="button" (click)="inviteItemHandle()">Invite</button>
            </span>

          </div>

          <div *ngIf="!tmp.invite_valid" class="form-control-feedback">User Already Exists.</div>

        </div>

        <div class="form-group">
          <button [disabled]="loading" class="btn btn-primary">Publish</button>
        </div>

      </form>
    </div>

    <div class="col-md-6">
      <h2>Friends Invited</h2>

      <div class="row">
        <div class="col-sm-4" *ngFor="let user of invited_users">
          <user-card [user]="user" [button]="{text:'Remove',class:'btn-danger'}" (buttonClicked)="removeUser($event)"></user-card>
        </div>
      </div>

    </div>

  </div>


</div>
