<div class="input-group">
  <input type="text" class="form-control small" #searchBox  (keyup)="search(searchBox.value)" placeholder="Search for Friends...">
  <span class="input-group-btn">
    <button class="btn btn-secondary" (click)="search(searchBox.value)" type="button">Search!</button>
  </span>
</div>
<div *ngIf="user">
  <user-card [user]="user" [button]="{text:'Follow',class:'btn-success'}" (buttonClicked)="makeFreind()" *ngIf="!following && !blocked && !me"></user-card>
  <user-card [user]="user" [button]="{text:'Un Follow',class:'btn-danger'}" (buttonClicked)="deleteFollower()" *ngIf="following && !blocked && !me"></user-card>
  <user-card [user]="user" [button]="{text:'Un Block',class:'btn-success'}" (buttonClicked)="unBlockFollower()" *ngIf="!following && blocked && !me"></user-card>
  <user-card [user]="user" [button]="{text:'Me',class:'btn-success'}"  *ngIf="me"></user-card>

</div>
