body {

}

.navbar {
  margin-top: 20px;
  margin-bottom: 20px;
}


.avatar{
  background: url("/src/assets/images/default-avatar.jpg");
}


.navbar-avatar {
  width: 32px;
  height: 32px;
  margin-bottom: -.5rem;
  margin-top: -.5rem;
}
