<div class="container">
  <nav class="navbar navbar-inverse bg-primary navbar-toggleable-md">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
            data-target="#containerNavbar" aria-controls="containerNavbar" aria-expanded="false"
            aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="containerNavbar">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['/']"><i class="fa fa-home"></i> Home <span class="sr-only">(current)</span></a>
        </li>
        <li *ngIf="!authenticationService.isLoggedIn()" class="nav-item">
          <a class="nav-link" [routerLink]="['/login']"><i class="fa fa-user"></i> Login</a>
        </li>
        <li *ngIf="!authenticationService.isLoggedIn()" class="nav-item">
          <a class="nav-link" [routerLink]="['/register']"><i class="fa fa-unlock"></i> Register</a>
        </li>
        <li *ngIf="authenticationService.isLoggedIn()" class="nav-item">
          <a class="nav-link" [routerLink]="['/orders']"><i class="fa fa-smile"></i> Orders</a>
        </li>
        <li *ngIf="authenticationService.isLoggedIn()" class="nav-item">
          <a class="nav-link" [routerLink]="['/add-order']"><i class="fa fa-plus"></i> Add Order</a>
        </li>
        <li *ngIf="authenticationService.isLoggedIn()" class="nav-item">
          <a class="nav-link" [routerLink]="['/friends']"><i class="fa fa-users"></i> Friends</a>
        </li>
        <li *ngIf="authenticationService.isLoggedIn()" class="nav-item">
          <a class="nav-link" [routerLink]="['/groups']">Groups</a>
        </li>
        <li *ngIf="authenticationService.isLoggedIn()" class="nav-item">
          <app-notifications></app-notifications>
        </li>
        <li *ngIf="authenticationService.isLoggedIn()" class="nav-item">
          <a (click)="authenticationService.logout()" href="#" class="nav-link">Logout</a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="container">
    <alert>
    </alert>
    <router-outlet></router-outlet>
  </div>
</div>
