<p>
<i class="fa fa-window-close-o"></i>
  groups works!
</p>
<div class="row " >
  <div class="col-md-9 text-center">
    <input type="text"#groupName >
    <button class="btn btn-sm btn-success" (click)="addGroup(groupName.value)">add group</button>
  </div>
</div>
<div class="row jumbotron">
  <div class="col-md-6">
    <h3>my groups</h3>
    <ul class="heroes">
      <li *ngFor="let group of groups"
        [class.selected]="group === selectedHero"
        (click)="onSelect(group)">
        <span class="badge">{{group.id}}</span> {{group.name}}
    </li>
    </ul>
  </div>
  <div class="col-md-6">
  <h3>group members</h3>
  <div class="row">
  <div>
    <input type="text" class="form-control" name="invite" [ngbTypeahead]="search"
           [resultTemplate]="inviteTemplate"
           [inputFormatter]="formatter" (selectItem)="inviteItemTmp($event)"/>
    <span class="input-group-btn">
      <button class="btn btn-secondary" type="button" (click)="inviteItemHandle()">Invite</button>
    </span>
  </div>

    <div class="col-sm-4" *ngFor="let user of invited_users">
      <user-card [user]="user" [button]="{text:'Remove',class:'btn-danger'}" (buttonClicked)="removeUser($event)"></user-card>
    </div>
  </div>

  </div>
</div>
