<div *ngIf="!islogged" class="container">
<div class="col-md-8 pull-center">
  <img src="../assets/images/yalaNotlop.png" alt="" style="width: 100%;">
</div>
</div>

<div *ngIf="islogged" class="row">
  <div class="col-md-6">
    <div class="row">
      <div class="col-md-12">
        <h3>Latest Orders</h3>
      </div>
      <div class="col-md-12">
        <div class="list-group">
          <a [routerLink]="['/order-details',order._id]" *ngFor="let order of myOrders"
             class="list-group-item list-group-item-action flex-column align-items-start ">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1">{{order.order_for}} order</h5>
              <small>3 days ago</small>
            </div>
            <p class="mb-1">form {{order.restaurant_name}}</p>
            <small>{{order.meals.length}} friends has joined you</small>
          </a>

        </div>
      </div>
    </div>
  </div>
  <div class=" col-md-6">
    <div class="row">
      <div class="col-md-12">
        <h3>Friends Activities</h3>
      </div>
      <div class="col-md-12">
        <div class="list-group">
          <a [routerLink]="['/order-details',order._id]" *ngFor="let order of friendsOrders"
             class="list-group-item list-group-item-action flex-column align-items-start ">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1">{{order.order_for}} order</h5>
              <small>3 days ago</small>
            </div>
            <p class="mb-1">{{order.owner.name}} ordered form {{order.restaurant_name}}</p>
            <small>{{order.meals.length}} friends has joined him</small>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
