<div *ngIf="user.name" [ngClass]="getCssClasses()">
  <div class="card-img-holder">
    <img  class="card-img-top img-fluid avatar" [src]="_auth.userAvatarSrc(user)" alt="{{user.name}}">
    <span *ngIf="badge" class="card-badge badge {{badge.class}}"><i class="fa fa-{{badge.icon}}"></i> {{badge.text}}</span>
  </div>
  <div class="card-block">
    <strong class="card-title">{{user.name}}</strong>
    <button *ngIf="button" class="btn btn-sm {{button.class}}" (click)="doClick($event)">{{button.text}}</button>
  </div>
</div>
