<push-notification #notifications
  [title]="notificationMessage.title"
  [body]="notificationMessage.body"
  [icon]="notificationMessage.icon"  (load)="getNotiObj(notifications)" >>
</push-notification>

<div class="col">
  <ngb-alert *ngIf="alert"   >{{alert}}</ngb-alert>

  <div ngbDropdown class="d-inline-block">
    <button [ngClass]="cssClasses"  (click)="sendRead()" id="dropdownMenu1" ngbDropdownToggle>Notifications
      <span class="badge badge-pill badge-default" *ngIf="!notificationReaded">{{countNotification}}</span>
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenu1" >
      <ul class="list-group">
        <li *ngFor="let message of messages">{{message}}</li>
      </ul>
    </div>
  </div>
</div>
